<div class="root">
	<div class="controllers">
		<div class="custom-row">
			<div class="custom-col start-btn-container">
				<button [disabled]="disableSimulation ? true : false" class="start btn btn-primary" (click)="startSimulation()">Start Simulation</button>
			</div>
			<div class="custom-col stop-btn-container">
				<button class="reset btn btn-danger" (click)="stopSimulation()">Stop Simulation</button>
			</div>
			<div class="custom-col reset-btn-container">
				<button class="reset btn" (click)="resetClicked()">Reset Settings</button>
			</div>
		</div>
	</div>
	<div class="message">
		<p>{{ message }}</p>
	</div>
	<div class="board">
		<div class="board-container">
			<div *ngFor="let row of board; let i = index" class="board-row">
				<div *ngFor="let cell of row; let j = index" class="board-col" (click)="cellClicked(i, j)">
					<div class="cell-container" id="{{i}}_{{j}}">
						<p class="cell-text">{{ board[i][j] }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>